<div id="log-container">
	<section id="log">
		<div class="header form-inline">
			<form ng-submit="view()">
				<label class="sr-only" for="file">Fichier de log</label>
				<select id="file" ng-model="selectedFile" ng-options="file as file for file in files" class="form-control" ng-change="change()">
				</select>
				<label class="sr-only" for="grep">Filtrer sur le terme</label>
				<input type="text" class="form-control" name="grep" ng-model="grep" size="10"/>
				<a ng-href="" title="Voir les logs" ng-click="view()">
					<i class="fa fa-eye" aria-hidden="true"></i>
				</a>
				<a ng-href="" title="Effacer les logs" ng-click="clean()">
					<i class="fa fa-eraser" aria-hidden="true"></i>
				</a>
				<span class="tail">
					<a ng-href="" title="Stop tail" ng-click="stop()">
						<i class="fa fa-stop-circle" aria-hidden="true"></i>
					</a>
					<a ng-href="" title="Start tail" ng-click="start()" ng-class="{'tailActive': tailActive}">
						<i class="fa fa-play-circle" aria-hidden="true"></i>
					</a>
				</span>
			</form>

		</div>
		<div id="console" scroll>
			<div ng-repeat="log in logs">
				<span ng-class="log.level">{{log.message}}</span>
			</div>
		</div>
	</section>
</div>

