	<div ng-controller="snatched"> 
		<h1>Snatched episodes</h1>
		<table>
			<tr ng-repeat="e in episodes">
				<td>{{e.showName}}</td>
				<td>{{e.season}}</td>
				<td>{{e.number}}</td>
				<td>{{e.name}}</td>
				<td>{{e.downloadDate}}</td>
				<td><span ng-repeat="f in e.fileNames">{{f}} </span></td>
				<td><input type="button" value="Truncate" ng-click="truncate(e.showId, e.season, e.number, e.quality, e.lang)"/></td>
			</tr>
		</table>
	</div>
	<div ng-controller="wanted"> 
		<h1>Wanted episodes</h1>
		<table>
			<tr ng-repeat="e in episodes">
				<td>{{e.showName}}</td>
				<td>{{e.season}}</td>
				<td>{{e.name}}</td>
				<td>{{e.number}}</td>
				<td><input type="button" value="Search" ng-click="search(e.showId, e.episodeId)"/></td>
			</tr>
		</table>
	</div>	
	<div ng-controller="downloaded"> 
		<h1>Downloaded episodes</h1>
		<table>
			<tr ng-repeat="e in episodes">
				<td>{{e.showName}}</td>
				<td>{{e.season}}</td>
				<td>{{e.number}}</td>
				<td>{{e.name}}</td>
				<td>{{e.downloadDate}}</td>
				<td><span ng-repeat="f in e.fileNames">{{f}} </span></td>
			</tr>
		</table>
	</div>
	<div ng-controller="upcoming"> 
		<h1>Upcoming episodes</h1>
		<table>
			<tr ng-repeat="e in episodes">
				<td>{{e.showName}}</td>
				<td>{{e.season}}</td>
				<td>{{e.number}}</td>
				<td>{{e.name}}</td>
				<td>{{e.airDate}}</td>
			</tr>
		</table>
	</div>