
	<div>
		<h1>{{ myShow.name }}</h1>
		
		<p>{{ myShow.description }}</p>
		
		<dl>
			<dt>Dur&eacute;e</dt>
			<dd>{{ myShow.runtime }}</dd>

			<dt>Jour de diffusion</dt>
			<dd>{{ myShow.airDay }}</dd>

			<dt>Statut</dt>
			<dd>{{ myShow.status }}</dd>
		</dl>
		
		<form ng-submit="add()">
			<select name="quality" ng-model="myConfig.quality">
				<option value="SD">SD</option>
				<option value="P720">720p</option>
				<option value="P1080">1080p</option>
			</select>
			<br/>
			<select ng-if="myConfig.id == 'undefined'" name="status" ng-model="status">
				<option value="SKIPPED">Skipped</option>
				<option value="DOWNLOADED">Downloaded</option>
				<option value="WANTED">Wanted</option>
			</select>
			<br/>
			<select name="audio" ng-model="myConfig.audioLang">
				<option value="fr">Français</option>
				<option value="en">Anglais</option>
			</select>
			<br/>
			<button ng-if="myConfig.id == 'undefined'" type="submit" class="pure-button pure-button-primary">Ajouter</button>
			<button ng-if="myConfig.id !== 'undefined'" type="submit" class="pure-button pure-button-primary">Mettre à jour</button>
		</form>
		
	</div>
