
	<div>
		<h1>{{ myShow.name }}</h1>
		
		<a ng-href="#tvshow/config/{{myShow.show.id}}">Editer</a>
		<input type="button" value="Forcer MAJ" ng-click="updateShow()"/>
		
		<p>{{ myShow.description }}</p>
				
		<dl>
			<dt>Dur&eacute;e</dt>
			<dd>{{ myShow.runtime }}</dd>

			<dt>Jour de diffusion</dt>
			<dd>{{ myShow.airDay }}</dd>

			<dt>Statut</dt>
			<dd>{{ myShow.status }}</dd>
			
			<dt>Emplacement</dt>
			<dd>{{ myShow.location }}</dd>
			
			<dt>Qualit&eacute;</dt>
			<dd>{{ myShow.quality }}</dd>
			
			<dt>Langue</dt>
			<dd>{{ myShow.audioLang }}</dd>
		</dl>
		<form ng-submit="updateStatus()">
			<select name="status" ng-model="status">
				<option value="SKIPPED">Skipped</option>
				<option value="SNATCHED">Snatched</option>
				<option value="WANTED">Wanted</option>
				<option value="DOWNLOADED">Downloaded</option>
			</select>
			<button type="submit" class="pure-button pure-button-primary">Mettre à jour</button>
			<br/>
			<table>
				<tr ng-repeat="e in myShow.episodes.slice().reverse()">
					<td><input type="checkbox" ng-model="e.selected"/></td>
					<td>{{ e.season }}</td>
					<td>{{ e.number }}</td>
					<td>{{ e.name }}</td>
					<td>{{ e.description }}</td>
					<td>{{ e.airDate }}</td>
					<td>{{ e.status }}</td>
					<td>{{ e.fileNames }}</td>
				</tr>
			</table>
		</form>
	</div>
