<section>
    <h1 class="md-title" style="margin-left: 1em;">Providers</h1>
    <div layout="row" layout-padding layout-wrap layout-fill>
        <md-whiteframe class="md-whiteframe-4dp" flex layout="column" layout-margin layout-padding
                       layout-align="center">
            <div layout="row" layout-align="space-between center">
                <h1 class="md-title">T411</h1>
                <md-switch ng-model="ctrl.providers.t411.active"
                           ng-change="ctrl.activeProviders()"
                           aria-label="activation T411"></md-switch>
            </div>
            <md-input-container>
                <label>Nom d'utilisateur</label>
                <input ng-model="ctrl.providers.t411.user">
            </md-input-container>
            <md-input-container>
                <label>Mot de passe</label>
                <input ng-model="ctrl.providers.t411.password" type="password">
            </md-input-container>
        </md-whiteframe>
        <md-whiteframe class="md-whiteframe-4dp" flex layout="column" layout-margin layout-padding
                       layout-align="center">
            <div layout="row" layout-align="space-between center">
                <h1 class="md-title">CPasBien</h1>
                <md-switch ng-model="ctrl.providers.cpasbien.active"
                           ng-change="ctrl.activeProviders()"
                           aria-label="activation CPasBien"></md-switch>
            </div>
        </md-whiteframe>
    </div>
    <h1 class="md-title" style="margin-left: 1em;">Client Torrent</h1>
    <div layout="row" layout-padding layout-wrap layout-fill>
        <md-whiteframe style="padding-top: 2em;" class="md-whiteframe-4dp" flex layout="column" layout-margin layout-padding
                       layout-align="center">
            <md-input-container>
                <label>Nom</label>
                <input ng-model="ctrl.torrent.client">
            </md-input-container>
            <md-input-container>
                <label>url</label>
                <input ng-model="ctrl.torrent.url">
            </md-input-container>
            <md-input-container>
                <label>Pattern pour les répertoires des saisons</label>
                <input ng-model="ctrl.torrent.seasonPattern">
            </md-input-container>
            <md-switch ng-model="ctrl.torrent.moveShow"
                       aria-label="moveShow">{{ctrl.torrent.moveShow ? 'Déplacer' : 'Ne pas déplacer'}}
            </md-switch>
        </md-whiteframe>
    </div>
    <div layout="row" layout-margin layout-align="end">
        <md-button ng-click="ctrl.saveSettings()" class="md-raised md-primary">Enregistrer</md-button>
    </div>
</section>
