<section>
    <md-content flex>
        <md-subheader class="inputSearch" flex class="md-primary">
            <div layout>
                <md-icon flex md-font-set="material-icons">search</md-icon>
                <input flex ng-model="ctrl.search.nom" placeholder="Nom">
                <input flex ng-model="ctrl.search.prenom" placeholder="Prenom">
                <input flex ng-model="ctrl.search.dateNaissance" placeholder="Date de naissance">
                <md-button class="md-icon-button" ng-click="ctrl.effacerRecherche()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-subheader>
    </md-content>
</section>

<md-fab-speed-dial style="position: fixed" class="md-fab-bottom-right md-scale"
                   md-open="ctrl.action.isOpen"
                   ng-mouseenter="ctrl.action.isOpen=true" ng-mouseleave="ctrl.action.isOpen=false"
                   md-direction="up">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Demande hébergement" class="md-fab md-raised md-mini">
            <md-icon md-font-set="material-icons">hotel</md-icon>
            <md-tooltip md-direction="left">Demande hebergement</md-tooltip>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>