<div class="listExample">
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body text-muted">
			<div class="col-md-1">
		  		<i class="glyphicon glyphicon-send"></i>
			</div>
			<div class="col-md-11">
				 <small >Cet écran permet de faire des appels réseaux.</small>
			</div>
		  </div>
			</div> 
		</div>
	</div>
</div>


<table class="table table-condensed">
	<thead>
		<th ng-click="ctrl.sort='LIBTYPE'">Activité <i class="pull-right glyphicon glyphicon-chevron-down" ng-show="ctrl.sort=='id'"></i></th>
		<th ng-click="ctrl.sort='COMMUNE'">Commune <i class="pull-right glyphicon glyphicon-chevron-down" ng-show="ctrl.sort=='denomination'"></i></th>
		<th ng-click="ctrl.sort='CODE_POSTAL'">Code Postal <i class="pull-right glyphicon glyphicon-chevron-down" ng-show="ctrl.sort=='commune'"></i></th>
		<th ng-click="ctrl.sort='ADRESSE'">Adresse <i class="pull-right glyphicon glyphicon-chevron-down" ng-show="ctrl.sort=='commune'"></i></th>
		<th ng-click="ctrl.sort='INFOS_PRATIQUES'">Acces <i class="pull-right glyphicon glyphicon-chevron-down" ng-show="ctrl.sort=='num_activity'"></i></th>
	</thead>
	<tbody>
		<tr ng-repeat="activity in ctrl.list | orderBy:ctrl.sort">
			<td>{{activity.LIBTYPE}}</td>
			<td>{{activity.COMMUNE}}</td>
			<td>{{activity.CODE_POSTAL}}</td>
			<td>{{activity.ADRESSE}}</a></td>
			<td>{{activity.INFOS_PRATIQUES}}</td>
		</tr>
	</tbody>
</table>
</div>