<form name="loginForm" ng-submit="ctrl.login()" layout-margin layout="row"
      layout-align="center center">
    <md-card layout-padding flex-xs="100" flex-sm="50" flex-md="50" flex-gt-md="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Connexion</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-input-container>
                <label>Nom</label>
                <input type="text" name="username" ng-model="ctrl.user.username" required>
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">
                        L'email est obligatoire
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="ctrl.user.password" required>
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">
                        Le mot de passe est obligatoire
                    </div>
                </div>
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="column">
            <md-button type="submit" class="md-raised md-primary">Se connecter</md-button>

            <div class="help-link" layout="row" layout-align="end">
                <a href ng-click="ctrl.forgetPassword($event)" class="md-primary">
                    Mot de passe oublié ?
                </a>
            </div>
        </md-card-actions>
    </md-card>
</form>
