<div style="margin-top:25%;" ng-show="ctrl.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
</div>
<section ng-hide="ctrl.loading">
    <div style="width: 100%; height: 500px">
        <div ng-parallax pattern="'http://image.tmdb.org/t/p/original/rvk7SMZRKR5BxDAxZmR5RF666uC.jpg'" speed="1"
             reverse="true"></div>
    </div>
    <div md-whiteframe="3" layout="row" layout-wrap layout-margin layout-fill>
        <div layout-xs="column" layout="row">
            <div hide-xs>
                <img src="http://image.tmdb.org/t/p/original{{ctrl.tvshow.poster}}"
                     style="max-width : 150px; height:auto;">
            </div>
            <div layout="column">
                <div layout="row" layout-align="space-between center">
                    <div layout="row">
                        <h1 layout-margin class="md-display-1">{{ctrl.tvshow.originalName}}</h1>
                        <h1 ng-if="ctrl.tvshow.status === 'Ended'" class="md-subhead">({{ctrl.tvshow.status}})</h1>
                        <h1 ng-if="ctrl.tvshow.status !== 'Ended'" class="md-subhead">(Tous les
                            {{ctrl.tvshow.airDay}})</h1>
                    </div>

                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                                   ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="ctrl.redial($event)">
                                    <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                                    Redial
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                                    <md-icon md-svg-icon="call:voicemail"></md-icon>
                                    Check voicemail
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="ctrl.toggleNotifications()">
                                    <md-icon
                                            md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>
                <div layout="row">
                    <p layout-margin class="md-body-1">{{ctrl.tvshow.network[0]}} diffuse depuis le
                        {{ctrl.tvshow.firstAired}} {{ctrl.tvshow.nbEpisodes}} épisodes sur {{ctrl.tvshow.nbSeasons}}
                        saisons.</p>
                </div>
                <md-divider md-inset></md-divider>
                <div layout="row">
                    <p layout-margin class="md-body-1">{{ctrl.tvshow.description}}</p>
                </div>
            </div>
        </div>

        <div class="expand-cards">
            <!-- Season of tvshow -->
            <md-item ng-repeat="episodes in ctrl.tvshow.episodes"
                     class="item"
                     ng-class="{ 'selected-item': ctrl.isSelect($index+1)}">
                <md-item-content class="card tile md-whiteframe-1dp"
                                 ng-class="{ 'selected md-whiteframe-3dp': ctrl.isSelect($index +1) }"
                                 layout="column">
                    <div layout="row" md-ink-ripple layout-fill
                         ng-mouseover="hover = true "
                         ng-mouseleave="hover = false"
                         ng-class="{'md-whiteframe-2dp' : hover && !ctrl.isSelect($index+1)}"
                         ng-click="ctrl.selectCardIndex($index+1)" class="folded">

                        <div class="md-tile-content" layout="column" layout-align="center start">
                            <h4>Saison {{$index+1}}</h4>
                        </div>
                    </div>
                    <md-divider layout-fill></md-divider>
                    <div class="expanded" layout-xs="column" layout-sm="column" layout="row" layout-fill>
                        <md-content>
                            <md-list flex>
                                <md-list-item class="md-3-line md-long-text"
                                              ng-repeat="episode in episodes">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{ episode.name }}</h3>
                                        <p>{{ episode.description }}</p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </md-item-content>
            </md-item>
        </div>
    </div>
</section>
