<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="footer" id="footer" class="footer clearfix">
<div class="meta" style="float:left;font-size: 12px;">
<b>15 shows</b> (15 active) | <b>129/349</b> episodes downloaded | 
<b>Search</b>: 0:49:12 |
<b>Backlog</b>: Fri mar 13
</div>
	<ul style="float:right;">
        <li><a href="https://github.com/sallaire/Sick-Beard/commits/master" onclick="window.open(this.href); return false;"><img src="/images/menu/github-16.png" alt="" title="git" />Changelog</a></li>                           
        <li><a href="/manage/manageSearches/forceVersionCheck"><img src="/images/menu/update16.png" alt="" width="16" height="16" />Update</a></li>
        <li><a href="/home/restart/" class="confirm"><img src="$/images/menu/restart16.png" alt="" width="16" height="16" />Restart</a></li>
        <li><a href="/home/shutdown/" class="confirm"><img src="/images/menu/shutdown16.png" alt="" width="16" height="16" />Shutdown</a></li>
	</ul>
</div>
</body>
</html>
