<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="header" id="header">
	<div class="wrapper">
    <a name="top"></a>
    <span id="logo"><a href="/home.html" title="Sick Beard homepage"><img alt="Sick Beard" src="/images/sickbeard.png" width="150" /></a></span>
    <span id="versiontext">VO/VF</span>
    
    <ul id="MainMenu" class="sf-menu">
                <li id="NAVhome"><a href="/">Show list</a>
                    <ul>
                          <li><a href="/home/addShows"><img src="/images/menu/addshow16.png" alt="" width="16" height="16" />Add Shows</a></li>
                          <li><a href="/home/postprocess"><img src="/images/menu/postprocess16.png" alt="" width="16" height="16" />Manual Post-Processing</a></li>
                    </ul>
                </li>
                <li id="NAVcomingEpisodes"><a href="/comingEpisodes">Coming Episodes</a></li>
                <li id="NAVhistory"><a href="/history">History</a></li>
                <li id="NAVmanage"><a href="/manage">Manage</a>
                    <ul>
                            <li><a href="/manage"><img src="/images/menu/manage16.png" alt="" width="16" height="16" />Mass Update</a></li>
                            <li><a href="/manage/backlogOverview/"><img src="/images/menu/backlog_view16.png" alt="" width="16" height="16" />Backlog Overview</a></li>
                            <li><a href="/manage/manageSearches"><img src="/images/menu/managesearches16.png" alt="" width="16" height="16" />Manage Searches</a></li>
                            <li><a href="/manage/episodeStatuses"><img src="/images/menu/backlog16.png" alt="" width="16" height="16" />Episode Status Management</a></li>
                    </ul>
                </li>                
                <li id="NAVerrorlogs"><a href="/errorlogs" class="log">Logs</a>
                    <ul>
                            <li><a href="/errorlogs"><img src="/images/menu/viewlog_errors16.png" alt="" width="16" height="16" />View Log (Errors)</a></li>
                            <li><a href="/viewlogs"><img src="/images/menu/viewlog16.png" alt="" width="16" height="16" />View Log</a></li>
                    </ul>
                </li>
                <li id="NAVconfig"><a href="/config" class="config"><img src="/images/menu/system18.png" alt="" /></a>
                    <ul>
                            <li><a href="/config/index"><i class="icon-question-sign" style=" margin-left: -21px;margin-right: 8px;position: absolute;"></i>Help &amp; Info</a></li>
                            <li><a href="/config/general"><img src="/images/menu/config16.png" alt="" width="16" height="16" />General</a></li>
                            <li><a href="/config/search"><img src="/images/menu/config16.png" alt="" width="16" height="16" />Search Settings</a></li>
                            <li><a href="/config/providers"><img src="/images/menu/config16.png" alt="" width="16" height="16" />Search Providers</a></li>
                            <li><a href="/config/subtitles"><img src="/images/menu/config16.png" alt="" width="16" height="16" />Subtitles Settings</a></li>
                            <li><a href="/config/postProcessing"><img src="/images/menu/config16.png" alt="" width="16" height="16" />Post Processing</a></li>
                            <li><a href="/config/notifications"><img src="/images/menu/config16.png" alt="" width="16" height="16" />Notifications</a></li>
                    </ul>
                </li>
    </ul>
	</div>
</div>
</body>
</html>