<div class="md-whiteframe-2dp" layout="column" id="content" flex style="max-width: 100%;">
    <!-- TOOLBAR PASSIVE -->
    <md-toolbar class="md-table-toolbar md-default"
                ng-hide="ctrl.table.options.rowSelection && ctrl.table.selected.length">
        <div class="md-toolbar-tools">
            <span ng-if="ctrl.episodes.length > 0">Téléchargé</span>
                    <span ng-if="ctrl.episodes.length < 1">
                        Aucun épisode n'a été téléchargé.
                    </span>
            <div flex></div>
        </div>
    </md-toolbar>
    <!-- TOOLBAR ACTIVE -->
    <md-toolbar class="md-table-toolbar alternate"
                ng-show="ctrl.table.options.rowSelection && ctrl.table.selected.length">
        <div class="md-toolbar-tools">
            <span>{{ctrl.table.selected.length}} {{ctrl.table.selected.length > 1 ? 'Episodes sélectionnés' : 'Episode sélectionné'}}</span>
            <div flex></div>
        </div>
    </md-toolbar>
    <!-- TABLEAU -->
    <md-table-container ng-if="ctrl.episodes.length > 0">
        <table md-table md-row-select multiple ng-model="ctrl.table.selected"
               md-progress="ctrl.table.promise">
            <thead md-head md-order="ctrl.table.query.sort"
                   md-on-reorder="ctrl.table.onReorder">
            <tr md-row>
                <th md-column md-order-by="showName"><span>Série</span></th>
                <th md-column md-order-by="season"><span>Saison</span></th>
                <th md-column md-order-by="number"><span>Numéro</span></th>
                <th md-column md-order-by="name"><span>Episode</span></th>
                <th md-column md-order-by="quality"><span>Qualité</span></th>
                <th md-column md-order-by="airDate"><span>Date</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="episode" md-select-id="{{episode.episodeId}}" md-auto-select
                ng-repeat="episode in ctrl.episodes">
                <td md-cell>{{episode.showName}}</td>
                <td md-cell>{{episode.season}}</td>
                <td md-cell>{{episode.number}}</td>
                <td md-cell>{{episode.name}}</td>
                <td md-cell>{{episode.quality}}</td>
                <td md-cell>{{episode.airDate}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination ng-if="ctrl.episodes.length > 0"
                         md-limit="ctrl.table.query.limit"
                         md-page="ctrl.table.query.page"
                         md-total="{{ctrl.table.total}}"
                         md-on-paginate="ctrl.table.onPaginate"
                         md-page-select
                         md-label="{page: 'Page:', rowsPerPage: 'Episode par page', of: 'sur'}"></md-table-pagination>
</div>