.expand-cards-content {
    background-color: #F2F2F2;
}
.expand-cards {
    padding: 0 1% 0 1%;
}
.expand-cards .folded.md-ink-ripple {
    position: relative;
}
.expand-cards .item .md-tile-content h4 md-icon {
    color: #dc1029;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin-top: -3px;
    margin-right: 15px;
}
.expand-cards .item .md-tile-content h4 md-icon.zmdi {
    margin-left: 5px;
    margin-right: 11px;
}
.selected-item ~ .expand-cards .item .user,
.expand-cards .item:first-child .user {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.selected-item ~ .expand-cards .item .user.selected,
.expand-cards .item:first-child .user.selected {
    margin-top: 0;
}
.expand-cards .item:last-child .card {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.expand-cards .item .tile .folded {
    cursor: pointer;
    outline: 0;
}
.expand-cards .item .card {
    background-color: white;
    transition: all 200ms;
    margin: 0.5em;
}
.expand-cards .item .card h4 {
    margin: 0.8em 1.5em;
    font-weight: lighter;
    color: #303030;
}
.expand-cards .item .card h4,
.expand-cards .item .card p {
    transition: all 200ms;
}
.expand-cards .item .card p {
    opacity: 1;
    height: inherit;
}
.expand-cards .item .card p.ng-hide {
    opacity: 0;
    height: 0;
}
.expand-cards .item .card.selected {
    margin: 30px -5px;
    border-radius: 2px;
}
.expand-cards .item .card.selected .expanded {
    visibility: visible;
}
.expand-cards .item .card.selected .expanded,
.expand-cards .item .card.selected .expanded > * {
    max-height: 3000px;
    opacity: 1;
}
.expand-cards .item .card.selected .expanded .md-label {
    border: hidden;
}
.expand-cards .item .card.selected h4 {
    font-size: 1.5em;
    margin-left: 1.5em;
}
.expand-cards .item .card .expanded {
    visibility: hidden;
}
.expand-cards .item .card .expanded,
.expand-cards .item .card .expanded > * {
    max-height: 0;
    opacity: 0;
    transition: all 200ms;
}
.expand-cards .item .card .expanded .split {
    padding: 10px;
}
.expand-cards .item .card .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 16px;
}