.header{
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.header-search {
    padding: 0.2em 0;
    border-radius: 2px;
}

.header-search input {
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
    font-size: 0.8em;
}

.header-search ::-webkit-input-placeholder {
    color: white;
}