<div style="margin-top:25%;" ng-show="ctrl.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
</div>
<section ng-hide="ctrl.loading">
    <h1 class="md-title" style="margin-left: 1em;">Série suivie</h1>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap layout-fill>
        <div class="expand-cards">
            <!-- FOLLOW TVSHOW -->
            <md-item ng-repeat="metadata in ctrl.metadatas | toArray : false | filter: {following : true}"
                     class="item"
                     ng-class="{ 'selected-item': ctrl.isSelect(metadata.id)}">
                <md-item-content class="card tile md-whiteframe-1dp"
                                 ng-class="{ 'selected md-whiteframe-3dp': ctrl.isSelect(metadata.id) }"
                                 layout="column">
                    <div layout="row" md-ink-ripple layout-fill
                         ng-mouseover="hover = true "
                         ng-mouseleave="hover = false"
                         ng-class="{'md-whiteframe-2dp' : hover && !ctrl.isSelect(metadata.id)}"
                         ng-click="ctrl.selectCardIndex(metadata)" class="folded">

                        <div class="md-tile-content" layout="column" layout-align="center start">
                            <h4>
                                <md-checkbox aria-label="Select All"
                                             ng-checked="isChecked()"
                                             md-indeterminate="isIndeterminate()"
                                             ng-click="toggleAll()">
                                </md-checkbox>
                                {{metadata.name}}
                            </h4>
                        </div>
                    </div>
                    <md-divider layout-fill></md-divider>
                    <div class="expanded" layout-xs="column" layout-sm="column" layout="row" layout-fill>
                        <md-content style="height: 400px;">
                            <section>
                                <md-list class="md-dense" flex ng-repeat="i in metadata.seasons track by $index">
                                    <md-subheader class="md-primary">
                                        <md-checkbox aria-label="Select All"
                                                     ng-checked="isChecked()"
                                                     md-indeterminate="isIndeterminate()"
                                                     ng-click="toggleAll()">
                                        </md-checkbox>
                                        Saison {{$index+1}}
                                    </md-subheader>
                                    <md-list-item class="md-3-line md-long-text"
                                                  ng-repeat="episode in metadata.episodes | filter: {season : $index+1}">
                                        <md-checkbox ng-checked="ctrl.exists(item, selected)"
                                                     ng-click="ctrl.toggle(item, selected)">
                                        </md-checkbox>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ episode.name }}</h3>
                                            <p>{{ episode.description}}</p>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>

                                </md-list>
                            </section>
                        </md-content>
                    </div>
                </md-item-content>
            </md-item>
        </div>
    </md-content>
    <!-- SEARCH TVSHOW -->
    <h1 class="md-title" style="margin-left: 1em;">Série trouvée</h1>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
        <md-card ng-if="metadata.image"
                 md-ink-ripple
                 style="max-width: 200px; display:block;"
                 ng-repeat="metadata in ctrl.metadatas | toArray : false | filter: {following : false}"
                 ng-click="isOpen = !isOpen"
                 ng-class="{'md-whiteframe-10dp': hover}"
                 ng-mouseenter="hover = true"
                 ng-mouseleave="hover = false">
            <md-button ng-show="hover"
                       ng-click="ctrl.add($event, metadata)"
                       style="float:right; top: 325px;margin-top: -46px;" class="md-fab md-mini">
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
            <img ng-src="{{metadata.image}}" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{metadata.name}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>
</section>
